.row,
.col-entry-list,
.col-editor {
    height: 100%;
}

#EntryList {
    flex: 1;
}

.col-entry-list {
    display: flex;
    flex-direction: column;
}

.btn-add,
.search-bar {
    flex: initial;
}

.empty-zone {
    display: flex;
    width: 100%;
    height: 100%;
}