.v-content {
    height : calc(100vh - 48px - 24px); // full screen minus navbar with padding-b == padding-t
}

.container {
    height : calc(100vh - 48px); // full screen minus navbar
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .25s;
}

.fade-enter,
.fade-leave-to
{
    opacity: 0;
}